.instructions {
    padding: 2%;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.masInstr {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
}

#randomNumber {
    padding: 3%;
    padding-top: 1%;
    color: black;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

#winlose {
    padding: 3%;
    padding-top: 1%;
    font-family: 'Courier New', Courier, monospace;
}

.crystals {
    padding: 3%;
}

.totalScore {
    padding: 3%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.header {
    padding: 2%;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
}

.wins,
.losses {
    padding: 2%;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}